@model IEnumerable<ECommerceSite.Models.ProductModel>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Products</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".Electronics">Electronics</button>
                        <button data-filter=".Clothes">Clothes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 special-grid @item.CategoryName">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="@item.ImgSrc" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart addToCart" data-productId="@item.Id" style="cursor: pointer">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>@item.Name</h4>
                            <h5> Rs. @item.SalePrice</h5>
                            <h5> @item.CategoryName</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".addToCart", function () {
        var id = $(this).attr("data-productId");
        $.ajax({
            cache: false,
            type: "POST",
            url: '@(Url.Action("AddToCart", "Products"))',
            data: {
                productId: id,
                qty: 1
            },
            success: function (data) {
                $(".badge").html(data);
            }
        });
    })
</script>
<!-- End Products  -->
